<% provide :title, t("help") %>
<div class="center jumbotron">
  <h1><%= t "help" %></h1>
  <h2>
  <%= t "intro_help1" %>
  <%= link_to t("rails_tutorial_help"), Settings.rails.help_host %>
  </br>
  <%= t "intro_help2" %>
  <%= link_to t("rails_tutorial_book"), Settings.rails.book_host %>
  </h2>
</div>
