<% provide :title, t("help") %>
<div class="center jumbotron">
  <h1><%= t "help" %></h1>
  <h2>
  <%= t "intro_help1" %>
  <%= link_to t("rails_tutorial_help"), "http://www.railstutorial.org/help" %>
  </br>
  <%= t "intro_help2" %>
  <%= link_to t("rails_tutorial_book"), "http://www.railstutorial.org/book" %>
  </h2>
</div>
