<h1><%= t ".app_name" %></h1>
<p><%= t ".intro1" %> <%= @user.name %>,</p>
<p>
<%= t ".intro2" %>
</p>
<%= link_to t(".activate"), edit_account_activation_url(id: @user.activation_token,
                                                    email: @user.email) %>
