<h1><%= t ".title_name" %></h1>
<p><%= t ".intro1" %></p>
<%= link_to t(".reset_password"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t ".intro2" %></p>
<p>
<%= t ".intro3" %>
</p>
