<%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t(".write_micropost") %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: Settings.format_end_file %>
  </span>
<% end %>
