<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to t("app_name"), static_pages_home_path , class: "navbar-brand text-danger", id: "logo" %>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item nav-link">
            <%= link_to t("home"), static_pages_home_path, class: "text-primary" %>
          </li>
          <li class="nav-item nav-link">
            <%= link_to t("help"), static_pages_help_path, class: "text-primary" %>
          </li>
          <li class="nav-item nav-link">
            <%= link_to t("log_in"), static_pages_log_in_path, class: "text-primary" %>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
           <li class="nav-item nav-link">
            <%= link_to t("viet"), locale: :vi %>
           </li>
           <li class="nav-item nav-link">
            <%= link_to t("eng"), locale: :en %>
           </li>
         </ul>
      </div>
    </nav>
  </div>
</header>
